body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(71, 71, 71);
}
h1{
    text-align: center;
}
.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: column;
    grid-template-areas:
      "A A A"
      "B B E"
      "C D E";
  }
  
.A { 
    grid-area: A; 
    position: relative;
    left: 10px;
    right: 10px;
    top: 10px;
    color: white;
}
.B { 
    grid-area: B; 
    position: relative;
    left: 10px;
    right: 10px;
    top: 10px;
    color: white;
}
.C { 
    grid-area: C; 
    position: relative;
    left: 10px;
    right: 10px;
    top: 10px;
    color: white;
}
.D { 
    grid-area: D; 
    position: relative;
    left: 10px;
    right: 10px;
    top: 10px;
    color: white;
}
.E { 
    grid-area: E; 
    position: relative;
    left: 10px;
    right: 10px;
    top: 10px;
    color: white;
}
@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "A A"
        "B B"
        "C D"
        "E E";
    }
}